PowerMeterInformation.json
[{"id":"0a6982fddbc83ca2","type":"function","z":"f8798b01cf682cac","name":"Get Powermeter info","func":"var pm_Status = msg.payload[0];\nvar pm_PhaseAGridVoltage = convert_i32(msg.payload[1],msg.payload[2])/10;\nvar pm_PhaseBGridVoltage = convert_i32(msg.payload[3], msg.payload[4]) / 10;\nvar pm_PhaseCGridVoltage = convert_i32(msg.payload[5], msg.payload[6]) / 10;\nvar pm_PhaseAGridCurrent = convert_i32(msg.payload[7], msg.payload[8]) / 100;\nvar pm_PhaseBGridCurrent = convert_i32(msg.payload[9], msg.payload[10]) / 100;\nvar pm_PhaseCGridCurrent = convert_i32(msg.payload[11], msg.payload[12]) / 100;\nvar pm_ActivePower = convert_i32(msg.payload[13], msg.payload[14]);\nvar pm_ReactivePower = convert_i32(msg.payload[15], msg.payload[16]);\nvar pm_PowerFactor = convert_i16(msg.payload[17])/1000;\nvar pm_GridFrequency = convert_i16(msg.payload[18])/100;\nvar pm_PositiveActiveElectricity = convert_i32(msg.payload[19], msg.payload[20]) / 100;\nvar pm_ReverseActiveElectricity = convert_i32(msg.payload[21], msg.payload[22]) / 100;\nvar pm_AccumulatedReactivePower = convert_i32(msg.payload[23], msg.payload[24]) / 100;\nvar pm_PhaseAActivePower = convert_i32(msg.payload[32], msg.payload[33]);\nvar pm_PhaseBActivePower = convert_i32(msg.payload[34], msg.payload[35]);\nvar pm_PhaseCActivePower = convert_i32(msg.payload[36], msg.payload[37]);\n\nif(pm_Status == 0)\n    pm_Status = \"Offline\";\nelse\n    pm_Status = \"Normal\";\n\nmsg.payload = {\n    \"Power Meter Status\": pm_Status,\n    \"Power Meter Phase A Grid Voltage\": pm_PhaseAGridVoltage,\n    \"Power Meter Phase B Grid Voltage\": pm_PhaseBGridVoltage,\n    \"Power Meter Phase C Grid Voltage\": pm_PhaseCGridVoltage,\n    \"Power Meter Phase A Grid Current\": pm_PhaseAGridCurrent,\n    \"Power Meter Phase B Grid Current\": pm_PhaseBGridCurrent,\n    \"Power Meter Phase C Grid Current\": pm_PhaseCGridCurrent,\n    \"Power Meter Active Power\": pm_ActivePower,\n    \"Power Meter Reactive Power\": pm_ReactivePower,\n    \"Power Meter Power Factor\": pm_PowerFactor,\n    \"Power Meter Grid Frequency\": pm_GridFrequency,\n    \"Power Meter Positive Active Electricity\": pm_PositiveActiveElectricity,\n    \"Power Meter Reverse Active Electricity\": pm_ReverseActiveElectricity,\n    \"Power Meter Accumulated Reactive Power\": pm_AccumulatedReactivePower,\n    \"Power Meter Phase A Active Power\": pm_PhaseAActivePower,\n    \"Power Meter Phase B Active Power\": pm_PhaseBActivePower,        \n    \"Power Meter Phase C Active Power\": pm_PhaseCActivePower\n  \n}\n\nreturn msg;\n\nfunction convert_i32(i32_1, i32_2) {\n    var resultat;\n    if (i32_1 > 32767) {\n        resultat = -((65535 - i32_1) * 65536 + (65535 - i32_2) + 1);\n    } else {\n        resultat = (i32_1 * 65536) + i32_2;\n    }\n    return resultat;\n}\n\nfunction convert_i16(i16_1) {\n    var resultat;\n    if (i16_1 > 32767) {\n        resultat = -(65535 - i16_1 + 1)\n    } else {\n        resultat = i16_1;\n    }\n    return resultat;\n}\n\n\nfunction convert_ui32(ui32_1, ui32_2) {\n    var resultat = ui32_1 * 65536 + ui32_2;\n    return resultat;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":280,"wires":[["f447f91f57b9af9d","336eae2c780a6548","fb330d8759b8f75f"]]},{"id":"8032c17b732c4493","type":"function","z":"f8798b01cf682cac","name":"Power Meter 37100-37139","func":"var fc=3;\nvar unitid=1;\nvar sa=37100;\nvar addresses=39;\nvar topic =\"37100-37139\"\n\nmsg.topic = topic;\nmsg.payload={\n    value: msg.payload,\n    'fc': fc,\n    'unitid': unitid,\n    'address': sa,\n    'quantity': addresses\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":280,"wires":[["07669c9499e82b17"]]},{"id":"07669c9499e82b17","type":"modbus-flex-getter","z":"f8798b01cf682cac","name":"Flex Read","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"bdd8fee965b029dc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":990,"y":280,"wires":[["0a6982fddbc83ca2"],[]]},{"id":"3f04f7ab990ff0b0","type":"comment","z":"f8798b01cf682cac","name":"Fetch Power Meter information","info":"","x":190,"y":80,"wires":[]},{"id":"ae0494554060c96d","type":"cronplus","z":"f8798b01cf682cac","name":"Time Trigger","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 */2 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":150,"y":280,"wires":[["7dadf4362f16438e"]]},{"id":"13f5d1f06d37aa29","type":"comment","z":"f8798b01cf682cac","name":"Trigger","info":"","x":110,"y":140,"wires":[]},{"id":"f6b00cd35d5347b5","type":"comment","z":"f8798b01cf682cac","name":"Delay","info":"","x":350,"y":140,"wires":[]},{"id":"6af5abaa364939cc","type":"comment","z":"f8798b01cf682cac","name":"Inject Adress and Quantity","info":"","x":610,"y":140,"wires":[]},{"id":"8273406b80ef179b","type":"comment","z":"f8798b01cf682cac","name":"Inverter Modbus Read","info":"","x":1020,"y":140,"wires":[]},{"id":"c4b4b2cbdeead7f4","type":"comment","z":"f8798b01cf682cac","name":"Convert obj","info":"","x":1350,"y":140,"wires":[]},{"id":"7dadf4362f16438e","type":"delay","z":"f8798b01cf682cac","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":360,"y":280,"wires":[["8032c17b732c4493"]]},{"id":"bdd8fee965b029dc","type":"modbus-client","name":"Sun2000","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.94","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showWarnings":true,"showLogs":true}]